<ion-header>
  <ion-toolbar>
    <ion-title>Weathered</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/tabs/home/notif']">
        <ion-icon [name]="notificationIcon" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="currentSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="live">
        <ion-label>Preview</ion-label>
      </ion-segment-button>
      <ion-segment-button value="explore" (click)="prepareGraphs()">
        <ion-label>Habits</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="currentSegment === 'live'">
    <ion-fab horizontal="end" vertical="top" slot="fixed">
      <ion-fab-button (click)="presentActionSheet()">
        <ion-icon name="grid" *ngIf="!gridShowSpinner"></ion-icon>
        <ion-spinner color="white" *ngIf="gridShowSpinner"></ion-spinner>
      </ion-fab-button>
    </ion-fab>

    <p style="position: absolute; font-size: 14px; top: 10px; left: -15px; color: gainsboro">
      <b style="color: gray">Compare weather to ideal stats</b>
    </p>
    <br>
    <ion-card style="margin: 33px 5vw 0 5vw;">
      <ion-progress-bar type="indeterminate" *ngIf="comparisonGraphShowLoading"></ion-progress-bar>
      <ion-list>
        <ion-item lines="none" 
          style="width: 110vw; margin: -50px 0 -30px 0; z-index: -1" 
          *ngIf="!comparisonGraphShowLoading"
          [ngClass]="{'hide-graph': comparisonGraphShowLoading === true}">
          <google-chart 
            [data]="weatherComparisonChart" 
            style="width: 115vw; margin-left: -13.5vw;">
          </google-chart>
        </ion-item>
        <p *ngIf="comparisonGraphShowLoading">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <ion-row style="margin-top: 40px; margin-bottom: 10px" *ngIf="failedToLoadTheGraph">
          <ion-chip outline style="margin-left: auto; margin-right: auto">
            <ion-label>
              Failed to load the graph.
            </ion-label>
          </ion-chip>
        </ion-row>
      </ion-list>
    </ion-card>

    <ion-card style="margin: 10px 5vw 30px 5vw; border-radius: 10px;">
      <ion-item lines="none" style="margin: 15px 0 0 0; z-index: 1;">
        <p style="position: absolute; font-size: 14px; top: 0px; left: -25px;"><b style="color: gray">Recent</b></p><br>
        <ion-chip outline style="margin-left: auto; margin-right: 15px;">
          <ion-icon name="grid"></ion-icon>
          <ion-label>{{currentLastActivityType}}</ion-label>
        </ion-chip>
        <ion-chip outline style="margin-left: 0; margin-right: 0;">
          <ion-icon name="arrow-dropdown-circle"></ion-icon>
          <ion-label>Last {{noLastActivities}} activities</ion-label>
        </ion-chip>
      </ion-item>
    <ion-list *ngIf="lastActivities != null" 
      style="margin-top: -7px; margin-bottom: 10px; z-index: 2;">  
      <ion-item-sliding *ngFor="let h of lastActivities">      
        <ion-item lines="none">
          <ion-col>
          <ion-row>
            <p style="margin: 10px auto 0 5vw; padding: 0">{{h.name}}</p>
              <ion-label style="margin: 12px 5vw 0 0; font-size: 13px">
                <b>{{h.calories}} kcal</b>
              </ion-label>
          </ion-row>
          <ion-row>
            <ion-label style="margin: 0 auto 0 5vw; font-size: 13px">
              {{h.start_date}}
            </ion-label>
              <ion-label style="margin: 0 5vw 0 0; font-size: 13px">
                <b>{{h.distance/1000 | number}} km</b>
              </ion-label>
          </ion-row>
        </ion-col>
          </ion-item>
    
          <ion-item-options side="start">
            <ion-item-option style="--background: #1d3557; opacity: 0.8;">
                <ion-chip outline style="text-transform: none; color: white; font-size: 14px; border-color: white; margin: 0 5px 0 0;">
                  <ion-label>
                    weather
                  </ion-label>
                </ion-chip>
                <p style="margin: 0 auto 0 0; padding: 0; text-transform: none; color: white;">
                  <b style="color: white;">{{h.avg_temperature | number}}</b> °C</p> <span style="margin: 0 5px 0 5px">&#8286;</span>
                <p style="margin: 0 auto 0 auto; padding: 0; text-transform: none; color: white;">
                  <b style="color: white;">{{h.avg_air_pressure.toFixed() | number}}</b> hPa</p> <span style="margin: 0 5px 0 5px">&#8286;</span>
                <p style="margin: 0 0 0 auto; padding: 0; text-transform: none; color: white;">
                  <b style="color: white;">{{h.avg_light.toFixed() | number}}</b> lm</p> 
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-row style="margin-top: 10px; margin-bottom: 10px" *ngIf="lastActivities == null">
      <ion-chip outline style="margin-left: auto; margin-right: auto">
        <ion-label>
          It seems you don't have any activities of this type.
        </ion-label>
      </ion-chip>
    </ion-row>
    </ion-card>
  </div>

  <div *ngIf="currentSegment === 'explore'" style="height: 100%; width: 100%">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-content>
        <p style="position: absolute; font-size: 14px; top: 0px; left: -15px"><b style="color:gray">Over time habits</b></p><br>
        <h5 style="position: absolute; right: 25px; top: 47px; margin: 0; padding: 0; font-size: 15px"
        (click) = "displayInfoRegardingPrediction()">
          {{predictedHabitTemperature == null ? '--' : predictedHabitTemperature | number}} <span style="color: gray; font-size: 15px;">°C </span> <span style="margin: 0 5px 0 5px">&#8286;</span>
          {{predictedHabitPressure == null ? '--' : predictedHabitPressure | number}} <span style="color: gray; font-size: 15px;"> hPa </span> <span style="margin: 0 5px 0 5px">&#8286;</span>
          {{predictedHabitLight == null ? '--' : predictedHabitLight | number}} <span style="color: gray; font-size: 15px;"> lm </span></h5>
          <ion-row style="margin: 40px 10vw 0 10vw">
            <ion-chip style="margin-left: auto; margin-right: -5vw; margin-top: 10px">
              <ion-label>
                Today you will
                probably <b>{{predictedActivity == null ? '--' : predictedActivity}}</b>
                for <b>{{predictedDuration == null ? '--' : predictedDuration}}</b> min.
              </ion-label>
            </ion-chip>
          </ion-row>
        
        <ion-card style="margin: 10px 15px 30px 15px;">
          <ion-progress-bar type="indeterminate" *ngIf="habitsGraphsShowLoading"></ion-progress-bar>
          <ion-list>
            <ion-item 
            lines="none" 
            style="margin: 15px 0 0 0; z-index: 1;">
            <p style="position: absolute; font-size: 14px; top: -5px; left: -25px; color: gray">Running distance prediction</p><br>
          </ion-item>
            <ion-item 
              lines="none" 
              style="width: 110vw; margin: auto; margin-top: -35px;"
              [ngClass]="{'hide-graph': habitsGraphsShowLoading === true}">
              <google-chart 
                [data]="runningDistancePredictionChart" 
                style="width: 110vw; margin-left: -10.5vw;"
                *ngIf="!failedToLoadHabitGraphs"></google-chart>
            </ion-item>
            <ion-row style="margin: -20px auto 10px 0" *ngIf="failedToLoadHabitGraphs">
              <ion-chip outline style="margin-left: auto; margin-right: auto">
                <ion-label>
                  Failed to load the graph.
                </ion-label>
              </ion-chip>
            </ion-row>
            <ion-item lines="none" style="margin: 0 0 0 0; z-index: 1;">
              <p style="position: absolute; font-size: 14px; top: 0px; left: -25px; color: gray">Riding distance average</p><br>
            </ion-item>
            <ion-item 
              lines="none" 
              style="width: 110vw; margin: auto; margin-top: -35px;"
              [ngClass]="{'hide-graph': habitsGraphsShowLoading === true}">
              <google-chart 
                [data]="ridingDistancePredictionChart" 
                style="width: 110vw; margin-left: -10.5vw;"
                *ngIf="!failedToLoadHabitGraphs"></google-chart>
            </ion-item>
            <ion-row style="margin: -10px auto 10px 0" *ngIf="failedToLoadHabitGraphs">
              <ion-chip outline style="margin-left: auto; margin-right: auto">
                <ion-label>
                  Failed to load the graph.
                </ion-label>
              </ion-chip>
            </ion-row>
            <ion-item lines="none" style="margin: 0 0 0 0; z-index: 1;">
              <p style="position: absolute; font-size: 14px; top: 0px; left: -25px; color: gray">Fitness daily engagement</p><br>
            </ion-item>
            <ion-item 
              lines="none" 
              style="width: 110vw; margin: auto; margin-top: -35px"
              [ngClass]="{'hide-graph': habitsGraphsShowLoading === true}">
              <google-chart 
                [data]="availabilityChart" 
                style="width: 110vw; margin-left: -10.5vw;"
                *ngIf="!failedToLoadHabitGraphs"></google-chart>
            </ion-item>
            <ion-row style="margin: -10px auto 10px 0" *ngIf="failedToLoadHabitGraphs">
              <ion-chip outline style="margin-left: auto; margin-right: auto">
                <ion-label>
                  Failed to load the graph.
                </ion-label>
              </ion-chip>
            </ion-row>
          </ion-list>
        </ion-card>
      </ion-content>
      </ion-slide>

      <ion-slide>
        <ion-content>
          <ion-grid style="margin-top: 10px; margin-bottom: 30px">
            <ion-card *ngFor="let s of seasons">
              <ion-item lines="none" style="margin: 15px 0 0 0; z-index: 1; --background: transparent;">
                <p style="position: absolute; font-size: 14px; top: -5px; left: -25px; color: gray; "><b>{{s.name}}</b></p><br>
              </ion-item>
              <img [src]="s.image" style="margin-top: -40px; margin-bottom: 0; margin-left: auto; margin-right: auto;" />
              <ion-row>
                <ion-col size="12">
                  <div>
                    {{s.temperature == null ? '--' : s.temperature | number}} <span style="color: gray; font-size: 12px;">°C <span style="margin: 0 5px 0 5px">&#8286;</span>
                    </span>{{s.pressure == null ? '--' : s.pressure | number}} <span style="color: gray; font-size: 12px;"> hPa <span style="margin: 0 5px 0 5px">&#8286;</span>
                    </span>{{s.light == null ? '--' : s.light | number}} <span style="color: gray; font-size: 12px;"> lm
                    </span>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="season-months" *ngFor="let m of s.months" [style.background-color]="s.season_color">
                  <div><b>{{m.name == null ? '--' : m.name}}</b></div>
                  <div>{{m.count == null ? '--' : m.count}} <i>sessions</i></div>
                  <div>{{m.distance == null ? '--' : m.distance}} km</div>
                  <div>{{m.moving_time == null ? '--' : m.moving_time}} minutes</div>
                  <div>{{m.temperature == null ? '--' : m.temperature}} °C</div>
                  <div>{{m.pressure == null ? '--' : m.pressure}} hPa</div>
                  <div>{{m.light == null ? '--' : m.light}} lm</div>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-content>
      </ion-slide>

      <ion-slide>
        <ion-progress-bar type="indeterminate" *ngIf="prevWeeksShowSpinner"></ion-progress-bar>
        <ion-content>
        <p style="position: absolute; font-size: 14px; top: 15px; ; z-index: 1"><b style="color: gray">Past weeks summarization</b></p><br>
        <ion-item lines="none" style="margin-left: 35px; margin-right: 35px; margin-top: 20px">
          <ion-label>Time interval</ion-label>
          <ion-select [value]="noPrevWeeks" interface="action-sheet" #C (ionChange)="onPrevWeekSelectChange(C.value)" [disabled]="prevWeeksShowSpinner">
            <ion-select-option [value]="time.value" *ngFor="let time of timeIntervalOptions">{{time.key}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-list lines="none" style="margin: 0px 5vw 30px 5vw; z-index: -1" *ngIf="previousWeeks.length > 0">        
          
          <ion-card *ngFor="let w of previousWeeks">
            <ion-row style="margin: 10px">
                <div *ngIf="w.week_delta == 1"><b>{{w.week_delta}} week ago: </b>{{w.count}} sessions</div>
                <div *ngIf="w.week_delta > 1"><b>{{w.week_delta}} weeks ago: </b>{{w.count}} sessions</div>
                <ion-icon [name]="w.icon_name" style="margin-left: auto; margin-right: 5px; margin-top: 3px; font-size: 20px;"></ion-icon>
            </ion-row>
            <ion-item style="margin: -10px -5vw 0 -5vw">
              <ion-label>
                <p>{{w.avg_temperature | number}} °C, {{w.avg_air_pressure | number}} hPa, {{w.avg_light | number}} lm</p>
                <p>On average {{w.distance}} km traveled in {{w.moving_time}} minutes</p>
                <p>Prediction offset: ± {{w.temp_rmse | number}} °C</p>
              </ion-label>
            </ion-item>
          </ion-card>

        </ion-list>
        <ion-row style="margin-top: 10px;" *ngIf="previousWeeks.length == 0 && !prevWeeksShowSpinner">
          <ion-chip outline style="margin-left: auto; margin-right: auto">
            <ion-label>
              No activities were recorded {{noPrevWeeks}}-week ago.
            </ion-label>
          </ion-chip>
        </ion-row>
      </ion-content>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>