ion-toolbar {
    --background: #1d3557;
    // a8dadc
    color: white;
}

ion-segment-button {
    --color-checked: #1d3557;
    --color-focused: #1d3557;
    --color-hover: #1d3557
}

ion-badge {
    --background: #46b4b3;
}