<ion-header>
  <ion-toolbar>
    <ion-title>Fitness tracker</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="stravaAccess()"
      [disabled]="noInternetConn">
        <ion-icon name="watch" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: #faf9f9">
    <ion-card-header>
      <ion-card-title>{{currentAthlete.lastname}} {{currentAthlete.firstname}}</ion-card-title>
      <ion-card-subtitle>{{currentAthlete.country}}, {{currentAthlete.city}}, {{currentAthlete.state}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <div style="margin: 0 0 0 15px; font-size: 10px;">
  <ion-segment [(ngModel)]="currentSegment">
    <ion-segment-button value="this-year">
      <ion-label>This year</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all-time">
      <ion-label>All time</ion-label>
    </ion-segment-button>
    <ion-list-header>
      <span style="margin-left: auto; margin-right: 35px"> 
        <div style="border-radius: 50px; background-color: #46b4b3; width: 7px; height: 7px; margin-left: -10px; margin-bottom: -6px"></div>
        <div style="border-radius: 50px; background-color: #003459; width: 7px; height: 7px; margin-left: 28px; margin-bottom: -15px"></div>
        <img style="height: 20px; width: 20px; margin-right: 20px;" src="../../../assets/icon/run.png">
        <img style="height: 22px; width: 22px" src="../../../assets/icon/bike.png">
      </span>
    </ion-list-header>
  </ion-segment>
  </div>

  <div *ngIf="currentSegment === 'this-year'">
  <ion-list style="margin: 0 15px 0 0;">
    <ion-item>
      <ion-label>Count</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._ytd_run_totals._count}} runs</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._ytd_ride_totals._count}} rides</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Distance</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._ytd_run_totals._distance}} km</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._ytd_ride_totals._distance}} km</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Moving time</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._ytd_run_totals._moving_time}} hours</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._ytd_ride_totals._moving_time}} hours</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Elevation gain</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._ytd_run_totals._elevation_gain}} m</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._ytd_ride_totals._elevation_gain}} m</ion-badge>
    </ion-item>
  </ion-list>
  </div>

  <div *ngIf="currentSegment === 'all-time'">
  <ion-list style="margin-right: 15px">
    <ion-item>
      <ion-label>Count</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._all_run_totals._count}} runs</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._all_ride_totals._count}} rides</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Distance</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._all_run_totals._distance}} km</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._all_ride_totals._distance}} km</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Moving time</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._all_run_totals._moving_time}} hours</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._all_ride_totals._moving_time}} hours</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Elevation gain</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._all_run_totals._elevation_gain}} m</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._all_ride_totals._elevation_gain}} m</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Average speed</ion-label>
      <ion-badge style="margin-right: 5px">{{currentAthlete.stats._all_run_totals._distance / currentAthlete.stats._all_run_totals._moving_time | number}} km/h</ion-badge>
      <ion-badge style="background-color: #003459">{{currentAthlete.stats._all_ride_totals._distance / currentAthlete.stats._all_ride_totals._moving_time | number}} km/h</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list style="margin-right: 15px">
    <ion-item>
      <ion-label>Biggest climb elevation gain</ion-label>
      <ion-badge>{{currentAthlete.stats._biggest_climb_elevation_gain}} m</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Longest distance</ion-label>
      <ion-badge>{{currentAthlete.stats._biggest_ride_distance}} km</ion-badge>
    </ion-item>
  </ion-list>
</div>

</ion-content>