<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHRef="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Weather</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/tabs/tab1/new']"
        [disabled]="noInternetConn">
        <ion-icon name="git-compare" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-fab horizontal="start" vertical="top" slot="fixed" style="margin-left: 120px;">
    <ion-fab-button>
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="light" (click)="changeMeasurement('temp')">
        <ion-icon name="thermometer"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="changeMeasurement('aprs')">
        <ion-icon name="partly-sunny"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="changeMeasurement('lght')">
        <ion-icon name="sunny"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="changeMeasurement('colr')">
        <ion-icon name="brush"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="changeMeasurement('all')">
        <ion-icon name="stats"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list style="padding-top: 10px;">
    <ion-list-header style="background-color: white;">
      <h5>Measurements</h5>
    </ion-list-header>
    <ion-item lines="none">
      <h1 style="margin-right: 30px;" *ngIf="measurementName != 'Ambient color'">{{measurementValue == null ? '--' : measurementValue}}</h1>
      <div style="margin-right: 30px;" [style.background-color]="measurementValue" class="dot" *ngIf="measurementName == 'Ambient color'"></div>
      <ion-label>
        <h2>{{measurementName}}</h2>
        <div style="margin-left: -5px">
          <ion-icon name="arrow-dropleft"></ion-icon>
          <p style="margin: -21px 0 0 15px;">{{measurementUnit}}</p>
        </div>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="width: 115vw; margin: auto; z-index: -1; margin-top: -10px;">
      <google-chart [data]="chart"
      style="width: 115vw; margin-left: -6.5vw;"
      ></google-chart>
    </ion-item>
  </ion-list>

  <ion-list style="margin-top: -10px;">
    <ion-radio-group [(ngModel)]="currentDisplay">
      <ion-list-header>
        Display settings
      </ion-list-header>
  
      <ion-item lines="none" style="margin-right: 15px; margin-top: -10px;" *ngFor="let m of measurementDisplayFaces.settings">
        <ion-label>
          <h2>{{m.title}}</h2>
          <p>{{m.description}}</p>
        </ion-label>
        <ion-radio slot="start" [value]="m.title" (click)="saveDisplayOption(m.title, m.code)" [disabled]="noInternetConn || unpairedDevice"></ion-radio>
        <ion-icon [name]="m.icon"></ion-icon>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div style="width: 100%; position: absolute; bottom: 0vh; height: 27vh; overflow: hidden">
    <img src="../../../assets/icon/run1.jpg" style="height: auto; width: auto;">
  </div>

</ion-content>