<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHRef="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Connected device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list style="margin-right: 15px;">
    <ion-list-header>
      <p style="font-size: 10px;">CURRENTLY CONNECTED</p>
    </ion-list-header>

    <ion-item *ngFor="let device of currentlyConnected">
      <ion-label style="margin-left: 10px;">
        <h2>{{device.name}}</h2>
        <h3>{{device.location}}</h3>
      </ion-label>
      <ion-icon name="cloud-done" (click)="unpair()"
      style="margin: 0 10px 0 10px; color: #2a9d8f; font-size: 40px; cursor: pointer"></ion-icon>
    </ion-item> 

    <ion-item *ngIf="currentlyConnected.length == 0">
      <ion-label style="margin-left: 10px;">
        <p> No device is currently connected </p>
      </ion-label>
      <ion-icon name="pause"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item style="margin-left: 15px; margin-right: 15px;">
    <ion-label position="floating">Pair <span style="font-size: 12px;">(serial number)</span></ion-label>
    <ion-input (keyup.enter)="pair()" [(ngModel)]="inputSerialNumber"></ion-input>
  </ion-item>

  <ion-list style="margin-right: 15px;" *ngIf="previouslyConnected.length > 0">
    <ion-list-header>
      <p style="font-size: 10px;">PREVIOUSLY CONNECTED DEVICES </p>
    </ion-list-header>

    <ion-item *ngFor="let device of previouslyConnected">
      <ion-label style="margin-left: 10px;">
        <h2>{{device.name}}</h2>
        <h3>{{device.location}}</h3>
      </ion-label>
      <ion-icon name="cloud-outline" style="margin: 0 10px 0 10px; color: gray; font-size: 40px;"></ion-icon>
    </ion-item> 
    
  </ion-list>

  <ion-item lines="none" style="margin-right: 15px; margin-top: -50px; z-index: 2">     
    <ion-icon size="large" name="text" style="margin-left: 15px;"></ion-icon>
    <div style="margin: 0 15px 0 10px; width: 87%; font-size: 12px">
      This application can be paired to the only existing weather device, Chappie - serial number 1, yet more
      may become available in the near future. Visit <a href="github.com/alexdarie">github.com/alexdarie</a>
      for updates.
    </div>  
  </ion-item>
</ion-content>