ion-fab-button {
    display: top;
    --box-shadow: 0;
    --background: transparent;
    --background-focused: transparent;
    --background-activated-opacity: transparent;
    --background-focused-opacity: 0;
    --background-hover: transparent;
    --color: gray;
}

.dot {
    height: 45px;
    width: 45px;
    border: 1px solid black;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}